@model IEnumerable<MobilityWeb.Models.Customer>

@{
    ViewData["Title"] = "ListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<h1>List Customers</h1>


<hr />
<table class="table">
     <thead>
     <tr>
         <th>
             @Html.DisplayNameFor(model => model.FirstName)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Surname)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Age)
         </th>
         <th></th>
     </tr>
     </thead>
     <tbody>
     @foreach (var item in Model)
     {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.FirstName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Surname)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Age)
             </td>
             
         </tr>
     }
     </tbody>
 </table>
<div>
    <a asp-action="Index">Back to main page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}